<!DOCTYPE html>
<html lang="en" ng-app="goodnessJuice">

<head>
    <!--<base href="/">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Goodness Orange Juice</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Satisfy" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/animate.min.css" rel="stylesheet">
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="/stylesheets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">


    <!--[if lt IE 9]> 
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <div ui-view="header"></div>
    <div ui-view="body"></div>

<div class="windows-icon wow fadeInUp">
                            <ul>
                                <li><a href="https://www.facebook.com/goodnessorangejuice"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/@goodness_juice"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://Instagram.com/goodnessorangejuice"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>

    <!--footer start from here-->
    <section class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="footer-logo">
                        <img src="images/logo-footer.png" alt="">
                    </div>
                </div>
                <div class="col-xs-6 col-md-8">
                    <div class="copyright">
                        <a href="https://themeforest.net/user/shohag4y">
                            <p>©<span id="date"></span> All rights reserved Kings Emperio Global Resources</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--footer end here-->


    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/owl.carousel.js"></script>
    <script src="/javascripts/tilt.jquery.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/typed.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-ui-router.min.js"></script>
    <script src="/angular/goodnessjuice.module.js"></script>
    <script src="/angular/goodnessjuice.controller.js"></script>
    <script src="/javascripts/main.js"></script>

    <script>
        new WOW().init();

        // =======================My custom javascript file================//

(function(){
var span = document.getElementById("date");
span.textContent = new Date().getFullYear();
})();
//        (function(){
//            var send = document.getElementById("subscribe");
//            send.addEventListener("click",function(e){
//               console.log(e.target); 
//            });
//        })();
</script>
 <script async="true" src="https://static.optinchat.com/optinchat.js" id="oc_script" convid="Wlh4DUcceUen0LkwHt4If7gkSnO2"></script>

</body>

</html>
